@charset "utf-8";
/* CSS Document */
/* 分组选择器： 公用同一套样式 符号是一个逗号隔开*/
body,html,.swiper-container,.main{width:100%;height:100%;overflow:hidden}
html{font-size:100px;}
/*把所有运动元素隐藏起来 opacity：0*/
<!--.page1 .text,.page1 .text .text02,.page1 .text .text03,.page1 .page2 .text1,.page2 .text1 h2,.page2 text1  .text05,.page2 .text1 .text06,.page2 .text1 .text07,.page2 .page3 .text2 .text09,.page3 .text2 .text08,.page3 .text2 .text09,.page3 .text2 .text10,.page3 .text2 .text11,.page3 .page4 .text3 .text12,.page4 .text3 h2{opacity:0;} --> 
/*箭头*/
.arrow{
	z-index:99;
	position:absolute;
	bottom:.2rem;
	left:50%;
	margin-left:-.425rem;
	width:.85rem;
	height:.83rem;
	background:url(../tupian/arrow.png) no-repeat;
	background-size:cover;
	-webkit-animation:fadeInUp 1s .3s infinite ease both;
    animation:fadeInUp 1s .3s infinite ease both;
}
/*音乐*/
.music{
	z-index:100;
	position:absolute;
	top:.2rem;
	left:.2rem;
	width:.6rem;
	height:.6rem;
	background:url(../audio/music.svg) no-repeat;
	background-size:100% 100%;
}
.music audio{
	dispiay:none;
}
/*音乐动画*/
.music{
	-webkit-animation:musicMove 1s linear 0s infinite both;
	animation:musicMove 1s linear 0s infinite both;
}
@-webkit-keyframes musicMove{
  0%{
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
	}
 100%{
	  -webkit-transform:rotate(360deg);
      transform:rotate(360deg);
   }
}
@keyframes musicMove{
  0%{
	-webkit-transform:rotate(0deg);
	transform:rotate(0deg);
}
100%{
	  -webkit-transform:rotate(360deg);
      transform:rotate(360deg);
   }
}
/* 第一屏*/
.page1{
	background:url(../tupian/first/bg.png) no-repeat;
	background-size:100% 100%;
}
.page1 .text{
	position:absolute;
	top:.65rem;
	left:.65rem;
	background:url(../tupian/first/text01.png) no-repeat;
	width:.58rem;
	height:1.92rem;
	background-size:cover;
}
.page1 .text div{
	width:1.38rem;
	mardin:.2rem auto;
}
.page1 .text .text02{
	height:20px;
	background:url(../tupian/first/text02.png) no-repeat;
    background-size:cover;
}
.page1 .text .text03{
	height:28px;
	background:url(../tupian/first/text03.png) no-repeat;
    background-size:cover;
}
/*第一页动画*/	
#page1 .text{-webkit-animation:fadeIn 1s ease .2s both;
             animation: fadeIn 1s ease .2s both;
} 
#page1 .text .text02{-webkit-animation:fadeIn 1s ease .2s both;
                     animation:fadeIn 1s ease .2s both;
}
#page1 .text .text03{-webkit-animation:fadeIn 1s ease .8s both;
                     animation:fadeIn 1s ease .8s both;
}
/*第二页*/
.page2{
	background:url(../tupian/bodybg.png) no-repeat;
	background-size:100% 100%;
}
.page2 .text1{
	position:absolute;
}
.h2{
	font-family:"微软雅黑";
	font-size:24px;
	margin-top:10px;
	margin-left:40px;
	border:#034E84 solid 1px;
}
.page2 .text1 .text05{
	background:url(../tupian/second/text05.png) no-repeat;
	width:452px;
	height:12px;
	margin-top:40px;
	margin-right:40px;
	margin-left:40px;
	background-size:cover;
}
.page2 .text1 .text06{
	background:url(../tupian/second/text06.png) no-repeat;
	width:1.42rem;
	height:1.48rem;
	margin-top:40px;
	margin-left:240px;
	margin-right:160px;
	background-size:cover;
}
.page2 .text1 .text07{
	background:url(../tupian/second/text07.png) no-repeat;
	width:2.84rem;
	height:2.02rem;
	margin-top:80px;
	margin-left:140px;
	background-size:cover;
}
/*第二页动画*/
#page2 .text1{-webkit-animation:fadeIn 1s ease .2s both;
               animation:fadeIn 1s ease .2s both;
	}
#page2 .text1 .h2{-webkit-animation:zoomIn 1s ease .2s both;
                   animation:zoomIn 1s ease .2s both;
}
#page2 .text1 .text05{-webkit-animation:rollIn 1s ease .6s both;
                      animation:rollIn 1s ease .6s both;
}
#page2 .text1 .text06{-webkit-animation:bounceInRight 1s ease 3s both;
                      animation:bounceInDown 1s ease 3s both;
}
#page2 .text1 .text07{-webkit-animation:bounceInRight 1s ease 4s both;
                      animation:bounceInDown 1s ease 4s both;
	}
#page2 .text1 .h2{-webkit-animation:rollIn 1s ease 2s both;
                      animation:rollIn 1s ease 2s both;
}
/*第三页*/
.page3{
	background:url(../tupian/bodybg.png) no-repeat;
	background-size:100% 100%;
}
.page3 .text2{
	position:absolute;
}
.page3 .text2 .text08{
	background:url(../tupian/third/text08.png) no-repeat;
	width:3.8rem;
	height:2rem;
	margin-top:40px;
	margin-left:35px;
}
.page3 .text2 .text09{
	background:url(../tupian/third/text09.png) no-repeat;
	width:5.5rem;
	height:2rem;
	margin-top:10px;
	margin-left:10px;
}
.page3 .text2 .text10{
	background:url(../tupian/third/text10.png) no-repeat;
	width:1.42rem;
	height:.3rem;
	margin-top:-40px;
	margin-left:35px;
}
.page3 .text2 .text11{
	background:url(../tupian/third/text11.png) no-repeat;
	width:5.46rem;
	height:3.62rem;
	margin-top:10px;
	margin-left:95px;
}	
/*第三页动画*/
#page3 .text2 .text08{
	-webkit-animation:bounceInRight 1s ease 1s both;
	animation:bounceInDown 1s ease 1s both;
}
#page3 .text2 .text09{
	-webkit-animation:bounceInRight 2s ease 1s both;
	animation:bounceInDown 2s ease 1s both;
}
#page3 .text2 .text10{
	-webkit-animation:bounceInRight 3s ease 1s both;
	animation:bounceInDown 3s ease 1s both;
}
#page3 .text2 .text11{
	-webkit-animation:lightSpeedIn 6s ease 6s both;
	animation:lightSpeedIn 6s ease 6s both;
}	
/*第四页*/
.page4{
	background:url(../tupian/bodybg.png) no-repeat;
	background-size:100% 100%;
}
.page4 .text3{
	position:absolute;
}		
.page4 .text3 h2{
	font-family:"黑体";
	font-size:16px;
	margin-top:25px;
	margin-left:150px;
	
}
.page4 .text3 .text12{
	background:url(../tupian/fourth/text11_03.png) no-repeat;
	width:2rem;
	height:2rem;
	margin-top:100px;
	margin-left:210px;
	background-size:cover;
}
/*第四页动画*/
#page4 .text3 .text12{
	-webkit-animation:rollIn 1s ease 0.6s both;
	animation:rollIn 1s ease .6s both;
}
#page4 .text3 h2{
	-webkit-animation:zoomIn 4s ease .2s both;
	animation:zoomIn 4s ease .2s both;
}		

